@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}
legend {
  margin: 10px;
}

.link , .btn {
  text-decoration: none;
  color: white;
}
.link:hover , .btn:hover{
  color: orange !important;
}

.addbtn {
  margin: 10px;
}

.upaddbtn {
  margin: 10px 125px 0px 125px !important;
}

.btn {
  margin-right: 5px;
}

.nav-link:link,  .nav-link:visited {
  font-size: 1.1rem;
  transition: 0.4s;
}
.nav-link:hover {
  font-size: 1.2rem;
  font-weight: bold;
}
